# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/terraform.tfstate.d/*
*.tfplan
crash.log

#local files : 
cheatsheet.txt
# Local env
.env
.DS_Store
EOF

# Python
**/__pycache__/
*.pyc

# Lambda build artifacts / layers
**/layer/
**/layer.zip
**/lambda_function.zip
**/*.zip
**/*.tar
**/package/

# OS
.DS_Store

